<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Create Employer</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
 <a class="navbar-brand">Employement Exchange Portal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}">Home</a>
            </li>
            <!-- Add more nav items as needed -->
             <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/dashboard}">Admin Dashboard</a>
            </li>
             <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/logout}">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container mt-5">
    <h2>Create Employer</h2>
    <!-- Form to create a new employer -->
    <form method="post" action="/admin/createEmployer">
        <div class="form-group">
            <label for="employerName">Employer Name:</label>
            <input type="text" class="form-control" id="employerName" name="employerName" required>
        </div>
        <div class="form-group">
            <label for="designation">Designation:</label>
            <input type="text" class="form-control" id="designation" name="designation" required>
        </div>
        <div class="form-group">
            <label for="companyName">Company Name:</label>
            <input type="text" class="form-control" id="companyName" name="companyName" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <div class="form-group">
            <label for="emailId">Email ID:</label>
            <input type="email" class="form-control" id="emailId" name="emailId" required>
        </div>
        <button type="submit" class="btn btn-primary">Create Employer</button>
    </form>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
